{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="{% static 'user_style.css' %}">
    <link rel="shortcut icon" href="https://i.postimg.cc/9fqYVvxh/logo.png" type="image/x-icon">
</head>

<body>

    <a href="{% url 'MoussawiApp-home' %}" class="button">
        <div class="button-box">
            <span class="button-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                </svg>
            </span>
            <span class="button-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                </svg>
            </span>
        </div>
    </a>



    <main>
        <aside class="sidebar " data-sidebar>
            <div class="sidebar-info">
                <figure class="avatar-box">
                    <img src="{{ user.profile.get_image_url }}" alt="avatar" width="80">
                </figure>

                <div class="info-content">
                    <h1 class="name" title="Richard Hanrick">{{ user.username }}</h1>
                    <p class="title">User</p>
                </div>

            </div>




            <div class="sidebar-info-more">
                <div class="separator"></div>

                <ul class="contacts-list">
                    <li class="contact-item">
                        <div class="icon-box">
                            <ion-icon name="mail-outline"></ion-icon>
                        </div>
                        <div class="contact-info">
                            <p class="contact-title">Email</p>
                            <a href="mailto:Moussawi108@gmail.com" class="contact-link">{{ user.email }}</a>
                        </div>
                    </li>

                </ul>

                <div class="separator"></div>

                <ul class="social-list">
                    <li class="social-item"><a href="#" class="social-link"><ion-icon
                                name="logo-facebook"></ion-icon></a></li>
                    <li class="social-item"><a href="#" class="social-link"><ion-icon
                                name="logo-twitter"></ion-icon></a></li>
                    <li class="social-item"><a href="#" class="social-link"><ion-icon
                                name="logo-instagram"></ion-icon></a></li>
                </ul>
            </div>
        </aside>

        <div class="main-content">
            <nav class="navbar">

                <ul class="navbar-list">
                    <li class="navbar-item">
                       <a class="navbar-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                </ul>
            </nav>

            <article class="about active" data-page="about">
                <header>
                    <h2 class="h2 article-title">Let's Tweet</h2>
                    <!---->
                    <div class="newpost-container">
                        <form id="postForm" class="newpost-form">
                            {% csrf_token %}
                            <h3 class="newpost-title">Create a New Post</h3>

                            <div class="newpost-field">
                                <label for="id_title">Title</label>
                                {{ form.title }}
                            </div>

                            <div class="newpost-field">
                                <label for="id_content">Content</label>
                                {{ form.content }}
                            </div>

                            <button type="submit" class="newpost-btn">Post</button>
                        </form>

                        <div id="errorMessages" class="newpost-errors"></div>
                    </div>
                    <script>
                        document.getElementById('postForm').addEventListener('submit', async function (e) {
                            e.preventDefault();

                            const title = document.getElementById('id_title').value;
                            const content = document.getElementById('id_content').value;
                            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


                            const match = window.location.pathname.match(/post\/(\d+)\/update\//);
                            const isEdit = match !== null;
                            const postId = isEdit ? match[1] : null;

                            const url = isEdit ? `/api/posts/${postId}/` : '/api/posts/';
                            const method = isEdit ? 'PUT' : 'POST';

                            const response = await fetch(url, {
                                method: method,
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': csrfToken,
                                },
                                body: JSON.stringify({
                                    title: title,
                                    content: content
                                })
                            });

                            const data = await response.json();

                            if (response.ok) {

                                window.location.href = `/post/${data.id}/`;
                            } else {

                                let errorDiv = document.getElementById('errorMessages');
                                errorDiv.innerHTML = '';
                                for (const [field, messages] of Object.entries(data)) {
                                    errorDiv.innerHTML += `<p><strong>${field}:</strong> ${messages.join(', ')}</p>`;
                                }
                            }
                        });
                    </script>





                    <!----->


                </header>
            </article>

            <article class="resume " data-page="resume">
                <header>
                    <h2 class="h2 article-title">Resume</h2>
                </header>
            </article>

        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>