body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #000000;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
    font-size: 25px;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    font-size: 22px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.content-section {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

/* <- style lal like w unlike  */
.like-btn:focus {
  outline: none;
  box-shadow: none;
}
/* <- style lal like w unlike  */
.liked {
  animation: pop 0.5s ease forwards;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(5); }
  100% { transform: scale(1); }
}

.unliked {
  animation: dropDown 0.5s ease forwards;
}

@keyframes dropDown {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(30px); opacity: 0; }
}
.heart-icon {
  display: inline-block;
  transform-origin: center center;
}

/* <- style lal comment w post file  */
 .comment-menu-btn:focus,
.comment-menu-btn:active {
  outline: none;
  box-shadow: none;
  background: transparent;
}
 .comment-menu-dropdown a {
    color: red;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    font-size: 14px;
  }

  .comment-menu-dropdown a:hover {
    background-color: #000000;
  }
    .post-owner-actions {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .content-section,
.article-content,
.comment-content {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}