{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="{% static 'user_style.css' %}">
    <link rel="shortcut icon" href="https://i.postimg.cc/9fqYVvxh/logo.png" type="image/x-icon">
</head>

<body>

    <a href="{% url 'MoussawiApp-home' %}" class="button">
        <div class="button-box">
            <span class="button-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                </svg>
            </span>
            <span class="button-elem">
                <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                    </path>
                </svg>
            </span>
        </div>
    </a>



    <main>

        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a class="navbar-link" href="{% url 'register' %}">SignUp</a>
                    </li>
                </ul>
            </nav>

            <article class="about active" data-page="about">
                <header>
                    <h2 class="h2 article-title">Login</h2>

                    {% block content %}
                    <div class="login-form-container">
                        <h2 class="newpost-title">Log In</h2>

                        <form method="POST">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                            <div class="form-error">
                                {% for error in form.non_field_errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="id_username">Username</label>
                                {{ form.username }}
                                {% if form.username.errors %}
                                <small style="color:red;">{{ form.username.errors.0 }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_password">Password</label>
                                {{ form.password }}
                                {% if form.password.errors %}
                                <small style="color:red;">{{ form.password.errors.0 }}</small>
                                {% endif %}
                            </div>

                            <button type="submit" class="newpost-btn">Log In</button>

                            <small class="forgot-password">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </small>
                        </form>
                    </div>
                    {% endblock content %}




                </header>
            </article>

        </div>
    </main>


</body>

</html>